.whiteButton {
    @include commonButton;
    background-color: white;
    color: black;
    &:hover {
        background-color: $light-grey;
        transition: background-color 250ms linear;
    }
}

.redButton {
    @include commonButton;
    background-color: red;
    &:hover {
        background-color: $dark-red;
        transition: background-color 250ms linear;
    }
}

.greyButton {
    @include commonButton;
    background-color: $dark-grey;
    color: white;
    &:hover {
        background-color: #4e4949;
        transition: background-color 250ms linear;
    }
}
