.navOffsetInitial {
    // background-color: #141414;
    @include nav;
    top: 4.5rem;
    padding: 1rem 7rem;
}

.navOffsetScroll {
    background-color: #141414;
    @include nav;
}
.createAndSignContainer {
    display: flex;
    button {
        margin-left: 2rem;
    }
}
