.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    border-bottom: #d1d0ce 0.1rem solid;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    img {
        width: 4rem;
        height: 4rem;
    }
}

.sign-in-out-box {
    background-color: $blue-lotus;
    font-weight: bold;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    border-radius: 0.8rem 0.8rem;
    border: none;
    &:hover {
        background-color: $dark-blue;
        transition: background-color 250ms linear;
        cursor: pointer;
    }
}
