.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    border-bottom: #d1d0ce 0.1rem solid;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    img {
        width: 4rem;
        height: 4rem;
    }
}
