.loadingWrap {
    display: inline-flex;
}
.loadingCircle {
    background-color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    margin-left: 2rem;
}

.streamCenterLoadingContainer {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
