.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 245, 245, 0.7);
}
.modalBox {
    background-color: white;
    width: 80%;
    border-radius: 0.8rem 0.8rem;
    padding: 3rem;
    button {
        margin-right: 0.5rem;
    }
}
