.streamShowContainer {
    margin-top: 8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 5rem;
    @media screen and (min-width: $md_breakpoint) {
        padding-bottom: 12rem;
    }
}

.streamShowVideo {
    width: 100%;
    height: 35rem;
    margin: auto;
    @media screen and (min-width: $sm_breakpoint) {
        height: 38rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        height: 45rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 95%;
        height: 53rem;
    }
    @media screen and (min-width: $xl_breakpoint) {
        width: 90%;
        height: 55rem;
    }
}

.streamShowTitle {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    margin: 4rem 0 1.5rem 0;
}

.streamShowDesc {
    font-weight: 400;
    letter-spacing: 0.25rem;
    font-size: 1.3rem;
    margin: 0;
    line-height: 1.6;
    white-space: pre-wrap; //used so it can detect /n text as new space
}
